nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 20%;
    background-color: rgba(255, 255, 255, 0.512);
}

.menu-box {
    display: flex;
    flex: 1 0 150px;
    flex-direction: row;
    padding: 2px;
    text-align:center;
    border-style: solid;
    text-decoration: white;
}
  
header {
    background-color:#a4b691;
    max-width: 100%;
    max-height: 110%;
    padding: 2% 0 2% 0;
    margin: 0;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 500%;
}

#header-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#Toby-image {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid white;
    box-shadow: 0px 0px 20px white;
}

main{
    background-color: rgb(25, 79, 25);
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.346);
    border: 1px solid white;
    border-radius: 10%;
    box-shadow: 0px 0px 20px white;
    padding: 2% 4% 2% 4%;
    text-align: center;
    max-width: 85%;
    margin: 1%;
    
}

.content-box h2 {
    padding: 5px 0 5px 0;
}

.image-container {
    display: flex;
    height: 400px;
    padding: 1%
}

.zoom {
    max-height: 100%;
    border: solid white;
    box-shadow: 4px 4px 20px black;
    margin: 5%;
    transition: 1s;
}

.zoom:hover {
    transform: scale(1.2); 
}

img:hover {
    border: 2px solid white;
    box-shadow: 0px 0px 50px pink;
}

img:active {
filter: blur(4px);
box-shadow: 0px 0px 50px rgb(248, 250, 248);
transition: 5ms;
}

body,header,main,footer {
    margin: 0;
    padding: 0;
}

